<article class="marketing">
  <section class="marketing__intro">
    <div class="intro__content">
      <h1 class="intro__title">
        Hi, we're drnkmxr
      </h1>
      <p class="intro__copy">
        <span>We like to drink </span><span class="intro__accent-word">different</span><span class="intro__accent-word intro__accent-word--hidden">healthy</span><span class="intro__accent-word intro__accent-word--hidden">better</span><span class="intro__accent-word intro__accent-word--hidden">together</span>.
      </p>
      <div class="intro__book-btn-holder">
        <div class="intro__book-btn">Book</div>
      </div>
    </div>
    <div class="intro__continue">
      <div class="intro__continue-copy">Learn More</div>
      <i class="intro__continue-arrow" id="intro__continue-arrow">V</i>
    </div>
  </section>
  <section class="marketing__elevator">
    <div class="elevator__content">
    <i class="elevator__vegetable-image flaticon-fruit42"></i>
    <p class="elevator__copy">We believe in creating delicious, organic cocktail mixers
using locally sourced fruits and vegetables whenever possible. We believe in crafting custom menus for your events, big or small. Most of all, we believe in experiences and want to be a part of yours.</p>
</div>
<div class="elevator__continue">
<i class="elevator__continue-arrow" id="elevator__continue-arrow">V</i>
</div>
  </section>
  <section class="marketing__why">
    <div class="why__content">
        <i class="why__vegetable-image flaticon-orange2"></i>
    <p class="why__copy">We take away all of the headaches of throwing a party. Plus, all of our cocktails are organic. Tell us the details and we'll send a mixologist to serve your guests during your event.</p>
    </div>
    <div class="why__continue">
    <i class="why__continue-arrow" id="why__continue-arrow">V</i>
  </div>
  </section>
  <section class="marketing__cta">
    <div class="cta__content">
      <%= form_for @bookings, remote: true do |f| %>
        My <%= f.label :zip %> is
        <%= f.text_field :zip, class: "sign-up__zip-input" %>
        and my email is <%= f.text_field :email, class: "sign-up__email-input" %>
        <div class="cta__book-btn-holder">
        <%= f.submit "Book", class: "cta__book-btn" %>
        </div>
      <% end %>
      <div class="cta__form-fail hidden"></div>
    </div>
  </section>
</article>
<div class="home__greeting-container">
<%= image_tag "fold-image.jpg", alt: "Our Drinks", class: "home__above-fold-image" %>
</div>
<article class="home__features-list">
	<section class="home__feature">
		<h2 class="home__feature-title">Browse</h2>
		<p class="home__feature-text">
			Discover incredible drink menus stirred up by our staff of expert mixologists.
		</p>
	</section>
	<section class="home__feature">
		<h2 class="home__feature-title">Book</h2>
		<p class="home__feature-text">
			Reserve a time for a specialty mixologist to arrive at your event. We’ll take care of dropping off the perfect amount of liquor and supplies.
		</p>
	</section>
	<section class="home__feature">
		<h2 class="home__feature-title">Booze</h2>
		<p class="home__feature-text">
			Enjoy your party, we’ll keep the glasses full. And even clean them up after.
		</p>
	</section>	
</article>
<article class="home__more-info">
	<section class="home__motto">
		<h2 class="home__motto-title">
			We Love A Party
		</h2>	
		<p class="home__motto-text">
			Find exceptional bartenders to serve up cocktails at your next party. Let us know the size and duration, and we'll send over a hand-selected bartender, the perfect amount alcohol, mixers, garnishes, and ice, as well as all other cocktail necessities. Whether you're throwing a small get together or a large scale event with all your friends, we've got you covered.
		</p>
	</section>
</article>
<article class="home__signup">
	<section class="home__form">
		<form action=""></form>
	</section>
</article>
