<% provide(:nav_mod_class, "nav--transparent nav--bordered") %>
<% provide(:footer_mod_class, "footer--hidden") %>
<article class="checkout">
  <section class="checkout__content">
    <h1 class="checkout__heading">
      Choose 3 cocktails below to create your own custom menu
    </h1>
    <%= form_tag do %>
      <div class="drink-options">
      <% @drinks.each do |drink| %>
        <div class="drink drink__clickable" data-id="<%= drink.id %>">

          <h2 class="drink__heading"><%= drink.name %></h2>
          <img class="drink__image" src="http://www.fillmurray.com/g/150/150" alt="<%= drink.name %>" />
          <div class="drink__tasting-notes">
            <p class="note-content"><%= drink.description %></p>
          </div>
        </div>
      <% end %>
      </div>
      <input type="hidden" value="" class="checkout__drink-ids" name="drink-ids">
      <%= submit_tag "Next", class: 'checkout__book-btn' %>
    <% end %>
  </section>
</article>